.btn {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
.btn-primary, .btn-primary::before {
    -webkit-animation-timing-function: cubic-bezier(0.2,1,.3,1);
    -moz-animation-timing-function: cubic-bezier(0.2,1,.3,1);
    -o-animation-timing-function: cubic-bezier(0.2,1,.3,1);
    animation-timing-function: cubic-bezier(0.2,1,.3,1);
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
}
.panel {
    border-radius: 0px;
}
.widget-icon {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    text-align: center;
    font-size: 23px;
    line-height: 59px;
    color: #fff;
    position: relative;
    border: 1px solid#fff;
}
.bg-blue {
    background-color: #2196f3;
}
.panel.item {
    text-align: center;
}
span.count_numbers {
    display: block;
    line-height: 1;
    font-size: 12px;
    color: #000;
    padding: 3px 6px;
    border: 1px solid #fff;
    z-index: 1;
}
.widget-details {
    padding: 10px 0 0 0;
}
span.title {
    font-size: 13px;
    color: #f5f5f5;
    font-weight: normal;
    text-transform: uppercase;
}
.padder-v {
    padding-left: 15px;
    padding-right: 15px;
}
.bg-danger {
    background-color: #d96557;
}
.bg-success {
    background-color: #2ecc71;
}
.bg-gray {
    background: #616161;
}

.dropdown-menu {
    padding: 0px 0;
    margin: 0px 0 0;
    border: 0px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #616161 !important;
}
.dropdown-menu > li > a i{
    margin-right: 10px;
}
.text-info-lter {
    color: #b4b6bd;
}

a.btn.no-shadow.navbar-btn {
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
a.btn.no-shadow.navbar-btn:hover {
    background: #616161;
    color: #fff;
}
.bg-dark {
    background: #2b343a;
}
.bg-dark .nav > li > a:hover, .bg-dark .nav > li > a:focus {
    background-color: rgba(255,255,255,.04);
}
.bg-dark.dk, .bg-dark .dk {
    background-color: rgba(39, 41, 45, 0.53);
}

span.auth-name {
    text-transform: capitalize;
    font-size: 12px;
}
a.edit {
    float: left;
    margin-right: 9px;
}

td .btn {
    padding: 1px 4px;
}

.btn {
	border-radius: 0px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.form-control {
    border-radius: 0px;
}
table.dataTable {
    border-top: 1px solid#f7f7f7;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    text-transform: capitalize;
}
.form-inline .form-control {
    margin-left: 9px;
    margin-right: 9px;
}
label {
    text-transform: capitalize;
}
.panel-default > .panel-heading, .panel-default > .panel-footer {
    font-size: 12px;
}
.alert.alert-danger ul {
    padding: 0;
}

.alert.alert-danger ul li {
    list-style: none;
}
.alert {
    padding: 8px;
    border-radius: 0px;
}
.form-control:focus {
    border-color: #2B343A;
}
.pagination > li > a, .pagination > li > span {
    padding: 3px 6px;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 7px 16px;
    font-size: 14px;
}
.i-checks input:checked + i {
    border-color: #2B343A;
}
.i-checks input:checked + i:before {
    background-color: #2B343A;
}
.radio, .checkbox {
    margin-top: 5px;
}
.panel {
    margin-bottom: 0px;
}
.widget_link {
    background: rgba(58, 63, 81, 0.7);
    padding: 5px;
    text-align: center;
}
.padder-v {
    padding-top: 6px;
    padding-bottom: 6px;
}
.help-block {
    color: #a94442;
}

input.error{
    border-color: red;
}
.common-class {
    display: inline-block !important;
}